/BitAddition.class
/BubbleSort.class
/BuildMaxHeap.class
/BuildMinHeap.class
/Cat.class
/FindInversion.class
/HeapSort.class
/ImportantMethod.class
/InsertionSort.class
/InsertionSortRec.class
/Main.class
/MaxHeapify.class
/MaxHeapifyOptimized.class
/MergeSort.class
/MinHeapify.class
/MinHeapifyOptimized.class
/SelectionSort.class
/VeryImportant.class
